
<nav class="navbar navbar-fixed-top" ng-controller="artController as art">
	<a class="nav navbar-nav navbar-brand navbar-right" href="#">Vak Kobiashvili</a>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
				<li>
					<a class="hvr-float" href="#!/home" onclick="this.blur();">
						<i class="fa fa-home" aria-hidden="true"></i>
						Home
					</a>
				</li>

        <li>
					<a class="hvr-float" href="#!/gallery" onclick="this.blur();">
						<i class="fa fa-user-circle" aria-hidden="true"></i>
						Art Gallery
					</a>
				</li>

				<li>
					<a class="hvr-float" href="#!/contact" onclick="this.blur();">
						<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
						Contact
					</a>
				</li>

        <li class="dropdown">
          <a class="dropdown-toggle hvr-float" data-toggle="dropdown" href="" onclick="this.blur();">
						<i class="fa fa-laptop" aria-hidden="true"></i>
						Online Profiles <span class="caret"></span>
					</a>
          <ul class="dropdown-menu">
            <li><a href="https://www.instagram.com/vak_k/" target="_blank">Instagram</a></li>
						<li><a href="https://www.facebook.com/Aregatou" target="_blank">Facebook</a></li>
						<li><a href="https://github.com/Aregatou" target="_blank">Github</a></li>
          </ul>
        </li>



      </ul>
    </div>

  </div>
</nav>
