<!-- <div class="thumbnail">
  <img src="http://img.youtube.com/vi/1-HpXcO9NdU/0.jpg" />
</div> -->

<div
  controller="artController as art"
  class="col-lg-3 col-md-3 col-xs-6"
  id="videos">

  <iframe width="560" height="315" ng-src="{{getFrameSrc(media.src)}}" frameborder="0" allowfullscreen></iframe>

    <div
    class="thumbnail" >

        <!-- <img
        ng-click="drawingClick($index)"
        id="{{$index}}"
        ng-src="{{drawing}}"
        class="hvr-grow"> -->
        <img src="http://img.youtube.com/vi/1-HpXcO9NdU/0.jpg" class="hvr-grow"/>


    </div>
</div>
