@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* line 5, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 10, ../sass/screen.scss */
body {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: rgba(200, 200, 200, 0.1) !important;
}

/* line 16, ../sass/screen.scss */
nav {
  background-color: white;
  min-width: 500px;
  width: auto;
  font-size: 1.3em;
  letter-spacing: 1px;
  border-top: 3px solid #ff5f14 !important;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
  height: 100px;
}
/* line 26, ../sass/screen.scss */
nav #extLinks {
  padding-left: 7px;
  padding-top: 10px;
  font-size: 1.2em;
}
/* line 30, ../sass/screen.scss */
nav #extLinks a {
  color: black;
  margin: 0 6px;
}
/* line 36, ../sass/screen.scss */
nav div ul {
  padding-left: 80px;
}
/* line 38, ../sass/screen.scss */
nav div ul li {
  padding: 0;
}
/* line 40, ../sass/screen.scss */
nav div ul li a {
  margin-top: 10px;
  color: black;
}
/* line 43, ../sass/screen.scss */
nav div ul li a:hover {
  position: relative;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 47, ../sass/screen.scss */
nav div ul li a i {
  opacity: .4;
  margin-right: 5px;
}
/* line 55, ../sass/screen.scss */
nav button {
  position: relative;
  top: -5px;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
  padding: 3px;
  width: 50px;
  height: 40px;
}
/* line 62, ../sass/screen.scss */
nav button i {
  position: relative;
  top: -5px;
}
/* line 67, ../sass/screen.scss */
nav .navbar-brand {
  font-size: 2em;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 22px;
  position: absolute;
  right: 10px;
}
/* line 76, ../sass/screen.scss */
nav .navbar-brand:focus {
  color: black;
}
/* line 79, ../sass/screen.scss */
nav .navbar-brand:hover {
  color: #ff5f14;
}
/* line 83, ../sass/screen.scss */
nav .navbar-toggle {
  float: left;
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 1.3em;
}
/* line 90, ../sass/screen.scss */
nav .container-fluid {
  background-color: white;
}
/* line 96, ../sass/screen.scss */
nav .collapse.in {
  max-height: 500px !important;
}
/* line 99, ../sass/screen.scss */
nav .in {
  border-bottom: 2px solid rgba(255, 95, 20, 0.9);
}

@media (max-width: 1060px) {
  /* line 106, ../sass/screen.scss */
  .navbar-brand {
    visibility: hidden;
  }
}
@media (max-width: 766px) {
  /* line 111, ../sass/screen.scss */
  .navbar-nav {
    padding-top: 40px;
  }

  /* line 116, ../sass/screen.scss */
  #extLinks {
    visibility: hidden;
  }
}
/* line 122, ../sass/screen.scss */
#bg {
  border-bottom: 3px solid #ff5f14;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 125, ../sass/screen.scss */
#bg #aboutMe {
  position: relative;
  width: 100%;
  min-height: 600px;
  min-width: 600px;
  padding: 50px;
  padding-left: 25%;
  font-size: 16px;
  margin: 0 auto;
  color: #fdfcfc;
}
/* line 135, ../sass/screen.scss */
#bg #aboutMe ul {
  padding: 0;
}
/* line 141, ../sass/screen.scss */
#bg #summary {
  color: black;
  position: relative;
  width: 60%;
  margin: 0 auto;
  top: -120px;
  font-size: 1.3em;
  max-width: 800px;
}
/* line 150, ../sass/screen.scss */
#bg #summary #aboutBox {
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
  background-color: white;
  height: 150px;
  text-align: center;
  padding: 10px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.9);
  min-width: 460px;
}
/* line 159, ../sass/screen.scss */
#bg #summary #aboutBox h2 {
  color: black;
}
/* line 162, ../sass/screen.scss */
#bg #summary #aboutBox p {
  font-size: 14px;
  opacity: .8;
}
/* line 166, ../sass/screen.scss */
#bg #summary #aboutBox span {
  font-weight: bold;
  color: black;
}
/* line 172, ../sass/screen.scss */
#bg #essay {
  margin-top: 30px;
  color: black;
  padding: 5px;
}
/* line 177, ../sass/screen.scss */
#bg #essay ul {
  line-height: 23px;
  padding-left: 20px;
}
/* line 180, ../sass/screen.scss */
#bg #essay ul li {
  padding-left: 5px;
  list-style-type: square;
}
/* line 185, ../sass/screen.scss */
#bg #essay h3 {
  font-size: 2.5em;
}
/* line 188, ../sass/screen.scss */
#bg #essay h4 {
  margin-top: 20px;
  font-size: 1.3em;
  text-decoration: underline;
}
/* line 194, ../sass/screen.scss */
#bg #techList {
  margin-top: 20px;
}
/* line 196, ../sass/screen.scss */
#bg #techList ul {
  padding: 0 20px;
}

/* line 200, ../sass/screen.scss */
.selfie {
  height: 80vh;
  position: relative;
  top: -43px;
  background: linear-gradient(rgba(255, 95, 20, 0.9), rgba(168, 50, 121, 0.4)), url("/styles/assets/selfie.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 213, ../sass/screen.scss */
#mainContent {
  padding: 0 50px;
  max-width: 1300px;
  margin: 0 auto;
}
/* line 218, ../sass/screen.scss */
#mainContent art-disp div {
  background: black;
  margin-bottom: 20px;
  overflow: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  height: auto;
  width: 100%;
  min-width: 500px;
  object-fit: contain;
  max-height: 700px;
}
/* line 231, ../sass/screen.scss */
#mainContent art-disp div img {
  overflow: auto;
  display: inline-block;
  position: relative;
  height: auto;
  width: 100%;
  object-fit: contain;
  min-height: 300px;
  max-height: 600px;
}
/* line 241, ../sass/screen.scss */
#mainContent art-disp div button {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  height: 100%;
  background-color: white;
  outline: none;
  padding: 0;
  border-radius: 0;
  border: 1px solid grey;
  text-align: center;
  font-size: 3em;
  width: 40px;
  text-align: center;
  color: #ff5f14;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* line 258, ../sass/screen.scss */
#mainContent art-disp div #left {
  left: 0;
}
/* line 259, ../sass/screen.scss */
#mainContent art-disp div #right {
  right: 0;
}
/* line 260, ../sass/screen.scss */
#mainContent art-disp div #ex1 {
  width: 80%;
}
/* line 263, ../sass/screen.scss */
#mainContent art-disp div .zoom {
  display: inline-block;
  position: relative;
}
/* line 267, ../sass/screen.scss */
#mainContent art-disp div .zoom img {
  display: inline-block;
}
/* line 270, ../sass/screen.scss */
#mainContent art-disp div .zoom img::selection {
  background-color: transparent;
}
/* line 274, ../sass/screen.scss */
#mainContent art-gall {
  flex: 1;
}
/* line 276, ../sass/screen.scss */
#mainContent art-gall .thumbnail {
  height: 275px;
  outline: 0;
  border: none;
  position: relative;
}
/* line 281, ../sass/screen.scss */
#mainContent art-gall .thumbnail img {
  object-fit: cover;
  height: 265px;
  width: 180%;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  margin-top: -133px;
  top: 50%;
  padding: 3px;
  border: 2px solid grey;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}
/* line 295, ../sass/screen.scss */
#mainContent art-gall button {
  width: 100%;
  font-size: 1.5em;
  border: 1px solid #ff5f14;
  margin-bottom: 30px;
}
/* line 300, ../sass/screen.scss */
#mainContent art-gall button:focus {
  outline: none;
}

/* line 304, ../sass/screen.scss */
#videos {
  flex: 1;
}
/* line 306, ../sass/screen.scss */
#videos .thumbnail {
  height: 275px;
  outline: 0;
  border: none;
  position: relative;
}
/* line 311, ../sass/screen.scss */
#videos .thumbnail img {
  object-fit: cover;
  height: 265px;
  width: 180%;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  margin-top: -133px;
  top: 50%;
  padding: 3px;
  border: 2px solid grey;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}

/* line 327, ../sass/screen.scss */
#instructions {
  text-align: center;
}

/* line 328, ../sass/screen.scss */
#contactPage {
  padding: 0 100px;
  min-width: 500px;
  max-width: 800px;
  width: auto;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5em;
}
/* line 336, ../sass/screen.scss */
#contactPage .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 600px;
}
/* line 342, ../sass/screen.scss */
#contactPage .wrapper .one {
  grid-column: 1;
  grid-row: 1;
  float: right;
  display: block;
  overflow: auto;
  min-width: 150px;
}
/* line 349, ../sass/screen.scss */
#contactPage .wrapper .one div {
  width: auto;
  display: block;
  text-align: center;
  overflow: auto;
}
/* line 354, ../sass/screen.scss */
#contactPage .wrapper .one div form {
  margin-top: 20px;
  text-align: center;
}
/* line 357, ../sass/screen.scss */
#contactPage .wrapper .one div form .errorMessage {
  font-size: 13px;
  height: 25px;
}
/* line 361, ../sass/screen.scss */
#contactPage .wrapper .one div form .invalid {
  border: 2px solid red !important;
}
/* line 362, ../sass/screen.scss */
#contactPage .wrapper .one div form .valid {
  border: 2px solid lightgreen !important;
}
/* line 366, ../sass/screen.scss */
#contactPage .wrapper .two {
  grid-column: 2;
  grid-row: 1;
  display: block;
}
/* line 370, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox {
  border-radius: 2px;
  height: auto;
  min-height: 200px;
  width: auto;
  min-width: 150px;
  max-width: 320px;
  word-wrap: break-word;
  line-height: 25px;
  margin-top: 20px;
  margin-left: 5%;
  display: block;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 383, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox button {
  margin-bottom: 20px;
}
/* line 384, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #preview {
  padding: 10px 25px;
  background-color: rgba(200, 200, 200, 0.1);
}
/* line 388, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #title {
  width: auto;
  height: 40px;
  display: block;
  letter-spacing: 4px;
  position: relative;
  padding: 1px;
  margin-left: 25px;
  text-align: left;
}
/* line 397, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #title i {
  color: lightgreen;
  font-size: 25px;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
}

/* line 410, ../sass/screen.scss */
#success {
  text-align: center;
}

/* line 413, ../sass/screen.scss */
.viewFade {
  margin-top: 140px;
  -webkit-animation: fadein .2s linear forwards;
  animation: fadein .2s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
/* line 423, ../sass/screen.scss */
.about {
  opacity: 0;
}

/* line 426, ../sass/screen.scss */
.about.animated {
  animation-name: intro;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 431, ../sass/screen.scss */
.about.animated:nth-child(2) {
  animation-delay: .3s;
}

/* line 432, ../sass/screen.scss */
.about.animated:nth-child(3) {
  animation-delay: 1.8s;
}

/* line 433, ../sass/screen.scss */
.about.animated:nth-child(4) {
  animation-delay: 3.5s;
}

/* line 435, ../sass/screen.scss */
.list {
  opacity: 0;
}

/* line 438, ../sass/screen.scss */
.list.animated {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

/* line 444, ../sass/screen.scss */
.list.animated:nth-child(2) {
  animation-delay: 5.6s;
}

/* line 445, ../sass/screen.scss */
.list.animated:nth-child(3) {
  animation-delay: 6.2s;
}

/* line 446, ../sass/screen.scss */
.list.animated:nth-child(4) {
  animation-delay: 6.8s;
}

/* line 447, ../sass/screen.scss */
.list.animated:nth-child(5) {
  animation-delay: 7.4s;
}

/* line 448, ../sass/screen.scss */
.list.animated:nth-child(6) {
  animation-delay: 8.0s;
}

/* line 449, ../sass/screen.scss */
.list.animated:nth-child(7) {
  animation-delay: 8.6s;
}

/* line 450, ../sass/screen.scss */
.list.animated:nth-child(8) {
  animation-delay: 9.2s;
}

/* line 451, ../sass/screen.scss */
.list.animated:nth-child(9) {
  animation-delay: 9.8s;
}

/* line 452, ../sass/screen.scss */
.list.animated:nth-child(10) {
  animation-delay: 10.4s;
}

/* line 453, ../sass/screen.scss */
.list.animated:nth-child(11) {
  animation-delay: 11.0s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes intro {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* line 476, ../sass/screen.scss */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

/* line 486, ../sass/screen.scss */
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* line 493, ../sass/screen.scss */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 506, ../sass/screen.scss */
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  color: black;
}
/* line 510, ../sass/screen.scss */
.hvr-float:hover i, .hvr-float:focus i, .hvr-float:active i {
  color: #ff5f14;
}
