/* line 5, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: rgba(200, 200, 200, 0.1) !important;
}

/* line 13, ../sass/screen.scss */
nav {
  background-color: white;
  min-width: 400px;
  width: auto;
  border-top: 3px solid #ff5f14 !important;
}
/* line 19, ../sass/screen.scss */
nav div ul {
  margin-left: 7%;
}
/* line 22, ../sass/screen.scss */
nav div ul li a {
  margin-top: 10px;
  color: black;
}
/* line 25, ../sass/screen.scss */
nav div ul li a:hover {
  position: relative;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 29, ../sass/screen.scss */
nav div ul li a i {
  opacity: .4;
  margin-right: 5px;
}
/* line 37, ../sass/screen.scss */
nav button {
  position: relative;
  top: -5px;
  font-size: 2em;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
  padding: 3px;
  width: 50px;
  height: 50px;
}
/* line 45, ../sass/screen.scss */
nav button i {
  position: relative;
  top: -5px;
}
/* line 50, ../sass/screen.scss */
nav .navbar-brand {
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 10px;
  position: relative;
  float: right;
  right: 3%;
}
/* line 59, ../sass/screen.scss */
nav .navbar-brand:focus {
  color: black;
}
/* line 62, ../sass/screen.scss */
nav .navbar-brand:hover {
  color: #ff5f14;
}
/* line 66, ../sass/screen.scss */
nav .navbar-toggle {
  float: left;
  margin: 15px 0 0 65px;
}
/* line 70, ../sass/screen.scss */
nav .container-fluid {
  border-bottom: 1px solid rgba(255, 95, 20, 0.9);
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}

/* line 76, ../sass/screen.scss */
#bg {
  height: 80vh;
  border-bottom: 3px solid #ff5f14;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 80, ../sass/screen.scss */
#bg #aboutMe {
  position: relative;
  top: 43px;
  width: auto;
  min-width: 300px;
  max-width: 700px;
  padding: 50px;
  font-size: 16px;
  margin: 0 auto;
  color: #fdfcfc;
}
/* line 90, ../sass/screen.scss */
#bg #aboutMe ul {
  list-style: none;
  padding: 0;
}
/* line 96, ../sass/screen.scss */
#bg #summary {
  color: black;
  position: relative;
  width: 60%;
  margin: 0 auto;
  top: 170px;
}
/* line 103, ../sass/screen.scss */
#bg #summary #aboutBox {
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
  background-color: white;
  height: 150px;
  text-align: center;
  padding: 10px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.9);
  min-width: 460px;
}
/* line 112, ../sass/screen.scss */
#bg #summary #aboutBox h2 {
  color: black;
}
/* line 115, ../sass/screen.scss */
#bg #summary #aboutBox p {
  font-size: 14px;
  opacity: .8;
}
/* line 119, ../sass/screen.scss */
#bg #summary #aboutBox span {
  font-weight: bold;
  color: black;
}
/* line 125, ../sass/screen.scss */
#bg #essay {
  margin-top: 30px;
  color: black;
  padding: 5px;
}
/* line 130, ../sass/screen.scss */
#bg #techList {
  margin-top: 20px;
}
/* line 132, ../sass/screen.scss */
#bg #techList ul {
  padding: 0 20px;
}

/* line 136, ../sass/screen.scss */
.selfie {
  height: 100vh;
  position: relative;
  top: -43px;
  background: linear-gradient(rgba(255, 95, 20, 0.9), rgba(168, 50, 121, 0.4)), url("/styles/assets/selfie.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 149, ../sass/screen.scss */
#mainContent {
  padding: 0 50px;
  max-width: 1300px;
  margin: 0 auto;
}
/* line 154, ../sass/screen.scss */
#mainContent art-disp div {
  background: black;
  margin-bottom: 20px;
  overflow: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  height: auto;
  width: 100%;
  min-width: 500px;
  object-fit: contain;
  max-height: 700px;
}
/* line 167, ../sass/screen.scss */
#mainContent art-disp div img {
  overflow: auto;
  display: inline-block;
  position: relative;
  height: auto;
  width: 100%;
  object-fit: contain;
  min-height: 300px;
  max-height: 600px;
}
/* line 177, ../sass/screen.scss */
#mainContent art-disp div button {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  height: 100%;
  background-color: white;
  outline: none;
  padding: 0;
  border-radius: 0;
  border: 1px solid grey;
  text-align: center;
  font-size: 3em;
  width: 40px;
  text-align: center;
  color: #ff5f14;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* line 194, ../sass/screen.scss */
#mainContent art-disp div #left {
  left: 0;
}
/* line 195, ../sass/screen.scss */
#mainContent art-disp div #right {
  right: 0;
}
/* line 196, ../sass/screen.scss */
#mainContent art-disp div #ex1 {
  width: 80%;
}
/* line 199, ../sass/screen.scss */
#mainContent art-disp div .zoom {
  display: inline-block;
  position: relative;
}
/* line 203, ../sass/screen.scss */
#mainContent art-disp div .zoom img {
  display: inline-block;
}
/* line 206, ../sass/screen.scss */
#mainContent art-disp div .zoom img::selection {
  background-color: transparent;
}
/* line 210, ../sass/screen.scss */
#mainContent art-gall {
  flex: 1;
}
/* line 212, ../sass/screen.scss */
#mainContent art-gall .thumbnail {
  height: 275px;
  outline: 0;
  border: none;
  position: relative;
}
/* line 217, ../sass/screen.scss */
#mainContent art-gall .thumbnail img {
  object-fit: cover;
  height: 265px;
  width: 180%;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  margin-top: -133px;
  top: 50%;
  padding: 3px;
  border: 2px solid grey;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}
/* line 231, ../sass/screen.scss */
#mainContent art-gall button {
  width: 100%;
  font-size: 1.5em;
  border: 1px solid #ff5f14;
  margin-bottom: 30px;
}
/* line 236, ../sass/screen.scss */
#mainContent art-gall button:focus {
  outline: none;
}

/* line 241, ../sass/screen.scss */
#instructions {
  text-align: center;
}

/* line 242, ../sass/screen.scss */
#contactPage {
  padding: 0 100px;
  min-width: 500px;
  max-width: 800px;
  width: auto;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5em;
}
/* line 250, ../sass/screen.scss */
#contactPage .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 600px;
}
/* line 256, ../sass/screen.scss */
#contactPage .wrapper .one {
  grid-column: 1;
  grid-row: 1;
  float: right;
  display: block;
  overflow: auto;
  min-width: 150px;
}
/* line 263, ../sass/screen.scss */
#contactPage .wrapper .one div {
  width: auto;
  display: block;
  text-align: center;
  overflow: auto;
}
/* line 268, ../sass/screen.scss */
#contactPage .wrapper .one div form {
  margin-top: 20px;
  text-align: center;
}
/* line 271, ../sass/screen.scss */
#contactPage .wrapper .one div form .errorMessage {
  font-size: 13px;
  height: 25px;
}
/* line 275, ../sass/screen.scss */
#contactPage .wrapper .one div form .invalid {
  border: 2px solid red !important;
}
/* line 276, ../sass/screen.scss */
#contactPage .wrapper .one div form .valid {
  border: 2px solid lightgreen !important;
}
/* line 280, ../sass/screen.scss */
#contactPage .wrapper .two {
  grid-column: 2;
  grid-row: 1;
  display: block;
}
/* line 284, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox {
  border-radius: 2px;
  height: auto;
  min-height: 200px;
  width: auto;
  min-width: 150px;
  max-width: 320px;
  word-wrap: break-word;
  line-height: 25px;
  margin-top: 20px;
  margin-left: 5%;
  display: block;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 297, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox button {
  margin-bottom: 20px;
}
/* line 298, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #preview {
  padding: 10px 25px;
  background-color: rgba(200, 200, 200, 0.1);
}
/* line 302, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #title {
  width: auto;
  height: 40px;
  display: block;
  letter-spacing: 4px;
  position: relative;
  padding: 1px;
  margin-left: 25px;
  text-align: left;
}
/* line 311, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #title i {
  color: lightgreen;
  font-size: 25px;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
}

/* line 324, ../sass/screen.scss */
#success {
  text-align: center;
}

/* line 327, ../sass/screen.scss */
.viewFade {
  margin-top: 100px;
  -webkit-animation: fadein .2s linear forwards;
  animation: fadein .2s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
/* line 337, ../sass/screen.scss */
.about {
  opacity: 0;
}

/* line 340, ../sass/screen.scss */
.about.animated {
  animation-name: intro;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 345, ../sass/screen.scss */
.about.animated:nth-child(2) {
  animation-delay: .3s;
}

/* line 346, ../sass/screen.scss */
.about.animated:nth-child(3) {
  animation-delay: 1.8s;
}

/* line 347, ../sass/screen.scss */
.list {
  opacity: 0;
}

/* line 350, ../sass/screen.scss */
.list.animated {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

/* line 356, ../sass/screen.scss */
.list.animated:nth-child(2) {
  animation-delay: 4.6s;
}

/* line 357, ../sass/screen.scss */
.list.animated:nth-child(3) {
  animation-delay: 5.2s;
}

/* line 358, ../sass/screen.scss */
.list.animated:nth-child(4) {
  animation-delay: 5.8s;
}

/* line 359, ../sass/screen.scss */
.list.animated:nth-child(5) {
  animation-delay: 6.4s;
}

/* line 360, ../sass/screen.scss */
.list.animated:nth-child(6) {
  animation-delay: 7.0s;
}

/* line 361, ../sass/screen.scss */
.list.animated:nth-child(7) {
  animation-delay: 7.6s;
}

/* line 362, ../sass/screen.scss */
.list.animated:nth-child(8) {
  animation-delay: 8.2s;
}

/* line 363, ../sass/screen.scss */
.list.animated:nth-child(9) {
  animation-delay: 8.8s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes intro {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* line 385, ../sass/screen.scss */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

/* line 395, ../sass/screen.scss */
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* line 402, ../sass/screen.scss */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 415, ../sass/screen.scss */
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  color: black;
}
/* line 419, ../sass/screen.scss */
.hvr-float:hover i, .hvr-float:focus i, .hvr-float:active i {
  color: #ff5f14;
}
