@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* line 5, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 8, ../sass/screen.scss */
body {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: rgba(200, 200, 200, 0.1) !important;
}

/* line 15, ../sass/screen.scss */
nav {
  height: 100px;
  width: auto;
  min-width: 300px;
  font-size: 1.3em;
  letter-spacing: 1px;
  border-top: 3px solid #ff5f14 !important;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
  background-color: white;
}
/* line 24, ../sass/screen.scss */
nav button {
  width: 50px;
  height: 40px;
  position: relative;
  padding: 3px;
  top: -5px;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
}
/* line 31, ../sass/screen.scss */
nav button i {
  position: relative;
  top: -5px;
}
/* line 36, ../sass/screen.scss */
nav .navbar-brand {
  font-size: 2em;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 22px;
  position: absolute;
  right: 10px;
}
/* line 44, ../sass/screen.scss */
nav .navbar-brand:focus {
  color: black;
}
/* line 45, ../sass/screen.scss */
nav .navbar-brand:hover {
  color: #ff5f14;
}
/* line 47, ../sass/screen.scss */
nav .navbar-toggle {
  font-size: 1.3em;
  position: absolute;
  float: left;
  top: 20px;
  left: 50px;
}
/* line 54, ../sass/screen.scss */
nav #extLinks {
  font-size: 1.2em;
  padding-left: 7px;
  padding-top: 10px;
}
/* line 58, ../sass/screen.scss */
nav #extLinks a {
  color: black;
  margin: 0 6px;
}
/* line 63, ../sass/screen.scss */
nav .container-fluid {
  background-color: white;
}
/* line 64, ../sass/screen.scss */
nav .collapse.in {
  max-height: 500px !important;
}
/* line 65, ../sass/screen.scss */
nav .in {
  border-bottom: 2px solid rgba(255, 95, 20, 0.9);
}
/* line 67, ../sass/screen.scss */
nav div ul {
  padding-left: 80px;
}
/* line 69, ../sass/screen.scss */
nav div ul li {
  padding: 0;
}
/* line 71, ../sass/screen.scss */
nav div ul li a {
  color: black;
  margin-top: 10px;
}
/* line 74, ../sass/screen.scss */
nav div ul li a:hover {
  position: relative;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 78, ../sass/screen.scss */
nav div ul li a i {
  opacity: .4;
  margin-right: 5px;
}

/* line 89, ../sass/screen.scss */
#bg {
  border-bottom: 3px solid #ff5f14;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 92, ../sass/screen.scss */
#bg #aboutMe {
  width: 100%;
  min-height: 600px;
  min-width: 300px;
  font-size: 1em;
  position: relative;
  padding: 20px 50px 50px 25%;
  margin: 0 auto;
  color: #fdfcfc;
}
/* line 101, ../sass/screen.scss */
#bg #aboutMe h1, #bg #aboutMe div {
  margin-left: 10%;
}
/* line 102, ../sass/screen.scss */
#bg #aboutMe ul {
  padding: 0;
}
/* line 104, ../sass/screen.scss */
#bg #summary {
  font-size: 1.3em;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: -120px;
  color: black;
}
/* line 112, ../sass/screen.scss */
#bg #summary #aboutBox {
  height: 150px;
  min-width: 300px;
  line-height: 13px;
  text-align: center;
  padding: 10px;
  color: rgba(0, 0, 0, 0.9);
  background-color: white;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 121, ../sass/screen.scss */
#bg #summary #aboutBox h2 {
  color: black;
}
/* line 122, ../sass/screen.scss */
#bg #summary #aboutBox p {
  font-size: 90%;
  opacity: .8;
}
/* line 126, ../sass/screen.scss */
#bg #summary #aboutBox span {
  font-weight: bold;
  color: black;
}
/* line 132, ../sass/screen.scss */
#bg #essay {
  min-width: 300px;
  margin-top: 30px;
  padding: 5px;
  color: black;
}
/* line 137, ../sass/screen.scss */
#bg #essay h3 {
  font-size: 2.5em;
}
/* line 138, ../sass/screen.scss */
#bg #essay ul {
  line-height: 23px;
  padding-left: 20px;
}
/* line 141, ../sass/screen.scss */
#bg #essay ul li {
  padding-left: 5px;
  list-style-type: square;
}
/* line 146, ../sass/screen.scss */
#bg #essay h4 {
  font-size: 1.3em;
  text-decoration: underline;
  margin-top: 20px;
}
/* line 151, ../sass/screen.scss */
#bg #essay span {
  margin-bottom: 50px;
  display: block;
}
/* line 156, ../sass/screen.scss */
#bg #techList {
  margin-top: 20px;
}
/* line 158, ../sass/screen.scss */
#bg #techList ul {
  padding: 0 20px;
}

/* line 161, ../sass/screen.scss */
#emailBtn {
  background: linear-gradient(rgba(255, 95, 20, 0.9), rgba(168, 50, 121, 0.4)), url("/styles/assets/landscape.jpg");
  background-size: cover;
  background-position: center center;
  top: -70px;
  position: relative;
  width: 100%;
  display: block;
  height: 120px;
  font-size: 1.4em;
  padding: 30px;
}
/* line 176, ../sass/screen.scss */
#emailBtn a {
  text-decoration: none;
}
/* line 179, ../sass/screen.scss */
#emailBtn button {
  text-align: center;
  display: block;
  margin: 0 auto;
  border: none;
  margin-top: 5px;
  padding: 10px 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background-color: #ff5f14;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.53);
}
/* line 191, ../sass/screen.scss */
#emailBtn button:hover {
  background-color: transparent;
}

/* line 196, ../sass/screen.scss */
.selfie {
  height: 80vh;
  min-height: 300px;
  position: relative;
  top: -43px;
  background: linear-gradient(rgba(255, 95, 20, 0.9), rgba(168, 50, 121, 0.4)), url("/styles/assets/selfie.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 211, ../sass/screen.scss */
#mainContent {
  max-width: 1300px;
  padding: 0 50px;
  margin: 140px auto 0 auto;
}
/* line 216, ../sass/screen.scss */
#mainContent art-disp div {
  height: auto;
  width: 100%;
  max-height: 700px;
  min-width: 300px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  background: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  overflow: auto;
  object-fit: contain;
}
/* line 229, ../sass/screen.scss */
#mainContent art-disp div #left {
  left: 0;
}
/* line 230, ../sass/screen.scss */
#mainContent art-disp div #right {
  right: 0;
}
/* line 231, ../sass/screen.scss */
#mainContent art-disp div #ex1 {
  width: 80%;
}
/* line 232, ../sass/screen.scss */
#mainContent art-disp div .zoom {
  display: inline-block;
  position: relative;
}
/* line 236, ../sass/screen.scss */
#mainContent art-disp div .zoom img {
  display: inline-block;
}
/* line 237, ../sass/screen.scss */
#mainContent art-disp div .zoom img::selection {
  background-color: transparent;
}
/* line 238, ../sass/screen.scss */
#mainContent art-disp div img {
  height: auto;
  width: 90%;
  min-height: 300px;
  max-height: 600px;
  display: inline-block;
  position: relative;
  object-fit: contain;
  overflow: auto;
}
/* line 248, ../sass/screen.scss */
#mainContent art-disp div button {
  height: 100%;
  width: 40px;
  font-size: 3em;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  outline: none;
  padding: 0;
  border-radius: 0;
  border: 1px solid grey;
  color: #ff5f14;
  background-color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* line 263, ../sass/screen.scss */
#mainContent art-disp div button:focus {
  box-shadow: none;
}
/* line 268, ../sass/screen.scss */
#mainContent art-gall {
  flex: 1;
}
/* line 270, ../sass/screen.scss */
#mainContent art-gall .thumbnail {
  height: 275px;
  position: relative;
  outline: 0;
  border: none;
  cursor: pointer;
}
/* line 276, ../sass/screen.scss */
#mainContent art-gall .thumbnail img {
  height: 265px;
  width: 180%;
  min-width: 250px;
  text-align: center;
  padding: 3px;
  position: absolute;
  margin-top: -133px;
  top: 50%;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
  object-fit: cover;
}
/* line 291, ../sass/screen.scss */
#mainContent art-gall button {
  width: 100%;
  font-size: 1.5em;
  border: 1px solid #ff5f14;
  margin-bottom: 30px;
}
/* line 296, ../sass/screen.scss */
#mainContent art-gall button:focus {
  outline: none;
}

/* line 302, ../sass/screen.scss */
#videos {
  flex: 1;
  max-width: 1300px;
  margin: 140px auto 0 auto;
  padding: 0 50px;
}
/* line 307, ../sass/screen.scss */
#videos span {
  max-height: 600px;
  display: block;
  background-color: black;
}
/* line 312, ../sass/screen.scss */
#videos .embed-responsive {
  width: 70%;
  max-width: 800px;
  margin: 20px auto;
}
/* line 316, ../sass/screen.scss */
#videos .embed-responsive .embed-responsive-item {
  width: 100%;
  max-height: 600px;
}
/* line 321, ../sass/screen.scss */
#videos .thumbnail {
  height: 275px;
  position: relative;
  outline: 0;
  border: none;
  cursor: pointer;
}
/* line 327, ../sass/screen.scss */
#videos .thumbnail img {
  height: 265px;
  width: 180%;
  text-align: center;
  position: absolute;
  padding: 3px;
  margin-top: -133px;
  top: 50%;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
  object-fit: cover;
}

/* line 344, ../sass/screen.scss */
#instructions {
  text-align: center;
}

/* line 345, ../sass/screen.scss */
#contactPage {
  min-width: 300px;
  max-width: 900px;
  width: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0 50px;
  margin: 140px auto 0 auto;
}
/* line 353, ../sass/screen.scss */
#contactPage h6, #contactPage h4 {
  text-align: center;
}
/* line 354, ../sass/screen.scss */
#contactPage .wrapper {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
/* line 360, ../sass/screen.scss */
#contactPage .wrapper .one {
  min-width: 150px;
  grid-column: 1;
  grid-row: 1;
  display: block;
  float: right;
  overflow: auto;
}
/* line 367, ../sass/screen.scss */
#contactPage .wrapper .one input {
  max-width: 200px;
  min-width: 150px;
}
/* line 371, ../sass/screen.scss */
#contactPage .wrapper .one div {
  width: auto;
  text-align: center;
  display: block;
  overflow: auto;
}
/* line 376, ../sass/screen.scss */
#contactPage .wrapper .one div form {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
/* line 380, ../sass/screen.scss */
#contactPage .wrapper .one div form .invalid {
  border: 2px solid red !important;
}
/* line 381, ../sass/screen.scss */
#contactPage .wrapper .one div form .valid {
  border: 2px solid lightgreen !important;
}
/* line 382, ../sass/screen.scss */
#contactPage .wrapper .one div form .errorMessage {
  height: 35px;
  font-size: .8em;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 389, ../sass/screen.scss */
#contactPage .wrapper .one div form span {
  float: right;
  font-size: .7em;
  font-weight: 400;
}
/* line 397, ../sass/screen.scss */
#contactPage .wrapper .two {
  min-width: 150px;
  grid-column: 2;
  grid-row: 1;
  display: block;
  padding-right: 30px;
}
/* line 403, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox {
  border-radius: 2px;
  height: auto;
  min-height: 200px;
  width: auto;
  min-width: 200px;
  max-width: 350px;
  word-wrap: break-word;
  line-height: 25px;
  margin-top: 20px;
  margin-left: 5%;
  display: block;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
/* line 416, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox button {
  margin-bottom: 20px;
}
/* line 417, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #preview {
  padding: 10px 25px;
  background-color: rgba(200, 200, 200, 0.1);
}
/* line 421, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #title {
  width: auto;
  height: 40px;
  display: block;
  letter-spacing: 4px;
  position: relative;
  padding: 1px;
  margin-left: 25px;
  text-align: left;
}
/* line 430, ../sass/screen.scss */
#contactPage .wrapper .two #previewBox #title i {
  color: lightgreen;
  font-size: 25px;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
}

/* line 445, ../sass/screen.scss */
#success {
  margin-top: 150px;
  text-align: center;
}

/* line 451, ../sass/screen.scss */
.viewFade {
  margin-top: 140px;
  -webkit-animation: fadein .3s linear forwards;
  animation: fadein .3s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
/* line 461, ../sass/screen.scss */
.about {
  opacity: 0;
}

/* line 464, ../sass/screen.scss */
.about.animated {
  animation-name: intro;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 469, ../sass/screen.scss */
.about.animated:nth-child(2) {
  animation-delay: .3s;
}

/* line 470, ../sass/screen.scss */
.about.animated:nth-child(3) {
  animation-delay: 1.8s;
}

/* line 471, ../sass/screen.scss */
.about.animated:nth-child(4) {
  animation-delay: 3.5s;
}

/* line 473, ../sass/screen.scss */
.list {
  opacity: 0;
}

/* line 476, ../sass/screen.scss */
.list.animated {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

/* line 482, ../sass/screen.scss */
.list.animated:nth-child(2) {
  animation-delay: 5.6s;
}

/* line 483, ../sass/screen.scss */
.list.animated:nth-child(3) {
  animation-delay: 6.2s;
}

/* line 484, ../sass/screen.scss */
.list.animated:nth-child(4) {
  animation-delay: 6.8s;
}

/* line 485, ../sass/screen.scss */
.list.animated:nth-child(5) {
  animation-delay: 7.4s;
}

/* line 486, ../sass/screen.scss */
.list.animated:nth-child(6) {
  animation-delay: 8.0s;
}

/* line 487, ../sass/screen.scss */
.list.animated:nth-child(7) {
  animation-delay: 8.6s;
}

/* line 488, ../sass/screen.scss */
.list.animated:nth-child(8) {
  animation-delay: 9.2s;
}

/* line 489, ../sass/screen.scss */
.list.animated:nth-child(9) {
  animation-delay: 9.8s;
}

/* line 490, ../sass/screen.scss */
.list.animated:nth-child(10) {
  animation-delay: 10.4s;
}

/* line 491, ../sass/screen.scss */
.list.animated:nth-child(11) {
  animation-delay: 11.0s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes intro {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* line 514, ../sass/screen.scss */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

/* line 524, ../sass/screen.scss */
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* line 531, ../sass/screen.scss */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 544, ../sass/screen.scss */
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  color: black;
}
/* line 548, ../sass/screen.scss */
.hvr-float:hover i, .hvr-float:focus i, .hvr-float:active i {
  color: #ff5f14;
}

/* line 552, ../sass/screen.scss */
.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #ff5f14, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* line 565, ../sass/screen.scss */
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px white, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}

@media (max-width: 1060px) {
  /* line 571, ../sass/screen.scss */
  .navbar-brand {
    visibility: hidden;
  }
}
@media (max-width: 766px) {
  /* line 577, ../sass/screen.scss */
  .navbar-nav {
    padding-top: 40px;
  }

  /* line 580, ../sass/screen.scss */
  .navbar-brand {
    visibility: visible;
    font-size: 1.1em !important;
    letter-spacing: 3px !important;
  }

  /* line 585, ../sass/screen.scss */
  #extLinks {
    visibility: hidden;
  }
}
@media (max-width: 690px) {
  /* line 590, ../sass/screen.scss */
  #aboutMe {
    min-width: 300px !important;
  }
  /* line 592, ../sass/screen.scss */
  #aboutMe h1, #aboutMe h3, #aboutMe div {
    min-width: 300px !important;
  }

  /* line 594, ../sass/screen.scss */
  #aboutBox {
    height: 110px !important;
    padding: 3px !important;
  }
  /* line 597, ../sass/screen.scss */
  #aboutBox h2 {
    font-size: 1.2em;
  }
  /* line 598, ../sass/screen.scss */
  #aboutBox p {
    font-size: .7em !important;
  }

  /* line 600, ../sass/screen.scss */
  .selfie {
    height: 20% !important;
  }

  /* line 601, ../sass/screen.scss */
  #preview {
    font-size: .7em;
  }
}
